---
layout: default
---
{% assign events = site.events | sort: 'startDate' | reverse %}
{% capture nowunix %}{{'now' | date: '%y%m%d'}}{% endcapture %}



<div class="home layout layout--wide">
  <h1 class="h1">Een ondersteuningsprogramma van de Vlaamse Overheid voor real-time Open Data bij lokale overheden</h1>
  <p>Vlaams minister voor Binnenlands Bestuur Liesbeth Homans lanceerde op 1 januari 2017 het Smart Flanders-programma, een ondersteuningsprogramma dat door onderzoekers van <a href="https://imec.be">imec</a>&nbsp;uitgevoerd wordt en loopt tot eind 2019. De Vlaamse overheid ondersteunt daarmee de 13 centrumsteden en de Vlaamse Gemeenschapscommissie voor Brussel in hun ontwikkeling tot smart cities. Smart Flanders doet dit door te focussen op real-time open data en gedeelde referentiemodellen, en is erop gericht samenwerking tussen steden en actoren uit de quadruple helix te stimuleren.</p>
<p>Smart Flanders is implementatiegedreven en ondersteunt steden om niet enkel een gedragen visie op open data op te stellen en uit te dragen, maar deze ook in de praktijk om te zetten en interessante stadsdata te ontsluiten. Binnen het programma worden een aantal pilootprojecten voorzien die vertrekken vanuit een maatschappelijke uitdaging die leeft binnen de steden.</p>
<p>Door deze aanpak te hanteren en "te leren door te doen" richt Smart Flanders zich erop zo goed mogelijk data te ontsluiten, met het oog op een maximaal hergebruik als basis voor slimmere diensten en toepassingen.</p>
  <section class="region">
      <div class="layout layout--wide">
        <h3 class="h3" id="nieuws">Nieuws en opinies</h3>
        <div class="slider js-slider">
            <div class="slider__frame js-slider__frame">
                <div class="grid grid--is-stacked js-equal-height-container slider__slides js-slider__slides">
                    {% for post in site.posts %}
                        <div class="col--3-12 col--8-12--xs col--5-12--s col--4-12--m">
                            <a href="{{ post.url | relative_url }}" class="news-teaser js-equal-height">
                                <article>
                                    <!--<div class="news-teaser__image">
                                        <img src="//d201gzvprbtpxy.cloudfront.net/sites/default/files/images/vla_nieuwsartikel_weekvandemobiliteit2016_0.gif" alt="Image for news message">
                                    </div>-->
                                    <div class="news-teaser__content">
                                        <h2 class="news-teaser__label">{{ post.category }}</h2>
                                        <h1 class="news-teaser__title">{{ post.title | escape }}</h1>
                                        <h2 class="news-teaser__label nobold">{{ post.date | date: "%d %b %y" }}</h2>
                                    </div>
                                </article>
                            </a>
                        </div>  
                    {% endfor %}
                </div>
            </div>
        </div>

      </div>
    </section>
        <section class="region" id="home__events">
          <h3 class="h3" id="events">Aankomende events</h3>
            <ul class="grid grid--is-stacked u-spacer">
                {% for event in events reversed limit:3 %}
                {% capture eventdate %}{{event.startDate | date: '%y%m%d'}}{% endcapture %}
                    {% if eventdate < nowunix %}
                        {% continue %}
                    {% else %}
                    {% endif %}
                    <li class="col--4-12 col--6-12--m col--12-12--xs">
                        <a href="{{ event.url | relative_url }}" class="agenda-item">
                            <article itemscope itemtype="http://schema.org/Event">
                                <time class="agenda-item__date" datetime="2015-06-01" itemprop="startDate">
                                    <div class="agenda-item__date__day">{{ event.startDate | date: "%d" }}</div>
                                    <div class="agenda-item__date__month">{{ event.startDate | date: "%b" }}</div>
                                </time>
                                <h3 class="agenda-item__title" itemprop="name">{{ event.title }}</h3>

                                <div class="agenda-item__text" itemprop="description" data-clamp="2">
                                    {{ event.content }}
                                </div> <!-- Consider maybe removing this div if the events are too long, or adding a short description in the meta of the events instead -->

                            </article>
                        </a>
                    </li>
                {% endfor %}
            </ul>
      </section>
        
    <section class="region">
        <div class="layout layout--wide">
            <h3 class="h3" id="status">Huidige status</h3>
            <ul class="bullet-list bullet-list--check">
              <li class="bullet-list__item">Kennismakingstour bij de centrumsteden</li>
              <li class="bullet-list__item">Identificatie van real-time opendata-piloten</li>
              <li class="bullet-list__item">Opzetten “slimme steden”-werking</li>
              <li class="bullet-list__item">Standardisatie-oefening bij <a href="http://www.etsi.org/news-events/news/1152-2017-01-news-etsi-launches-new-group-on-context-information-management-for-smart-city-interoperability" target="_blank">ETSI ISG-CIM</a></li>
            </ul>
        </div>
    </section>
</div>
