---
layout: post_list
title: Nieuws en opinies
permalink: /news/
order: 4
---
<h1 class="h1">Nieuws en opinies</h1>
<section>
	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{% if post.author %}{{ post.author }} - {% endif %}{{ post.date | date: "%b %-d, %Y" }}</span>
			<h2 class="h2">
				<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</h2>
			<p >{{ post.excerpt }}</p>
		</li>
		{% endfor %}
	</ul>
</section>
