---
title:  "Dencity"
tagline: "A marriage between science & citizens"
tags: [citizen science, air quality]
date: 2016-03-23T10:20:00Z
img: "assets/img/practices/large/oldy.jpg"
thumb: "assets/img/nieuws-en-opinies/thumbs/oldy.jpg"
teaser: "Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
intro: "Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper."
og-image: "assets/img/practices/large/dencity.png"
og-description: 'This is the og description which is needed'
---

<div class="paragraph paragraph__text">
  <div class='layout layout--condensed'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
          <a class="button" href="#">Primaire knop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__full-image">
  <div class='layout layout--wide'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <img src="{{site.baseurl}}/assets/img/practices/large/dencity.png" />
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__text-with-image left">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked row-reverse">
      <div class="col--6-12 col--1-1--s img">
        <img src="{{site.baseurl}}/assets/img/homepage/hand.png" />
      </div>
      <div class="col--6-12 col--1-1--s">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
          <a class="button button--secondary" href="#">Secundaire knop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__text">
  <div class='layout layout--condensed'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='layout layout--wide'>
  <div class="grid">
    <div class="col--1-1">
      {% capture alert-text %}<p>this is a text with a <a href='{{site.baseurl}}'>link</a> in it.</p>{% endcapture %}
      {% include alert.html type="warning" title="Stay safe" text=alert-text %}
    </div>
  </div>
</div>


<div class="paragraph paragraph__text-with-image right">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked row">
      <div class="col--6-12 col--1-1--s img">
        <img src="{{site.baseurl}}/assets/img/homepage/hand.png" />
      </div>
      <div class="col--6-12 col--1-1--s">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__video">
  <div class='layout layout--condensed'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="col--1-1 video-player">
        <video class="js-video-player" poster="{{site.baseurl}}/assets/img/nieuws-en-opinies/large/video.png" controls crossorigin>
          <!-- Video files -->
          <source src="{{site.baseurl}}/assets/video/example.mp4" type="video/mp4">
          <source src="https://cdn.selz.com/plyr/1.5/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">

          <!-- Text track file -->
          <track kind="captions" label="English" srclang="en" src="https://cdn.selz.com/plyr/1.5/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default>

          <!-- Fallback for browsers that don't support the <video> element -->
          <a href="https://cdn.selz.com/plyr/1.5/View_From_A_Blue_Moon_Trailer-HD.mp4" download>Download</a>
        </video>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__two-column">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content columns">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
        <ul class="link-list">
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__documents">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">

        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">PDF</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus!</a>
            <div class="document-miniature__metadata">PDF - 580 kB</div>
          </div>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">JPEG</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt, voluptatum praesentium quis ratione pariatur dolorem maxime, facere rerum porro libero suscipit officia blanditiis, magni laboriosam quae vel sit commodi.</a>
            <div class="document-miniature__metadata">JPEG - 1.4 MB</div>
          </div>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">DOCX</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus!</a>
            <div class="document-miniature__metadata">DOCX - 580 kB</div>
          </div>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">PDF</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt, voluptatum praesentium quis ratione pariatur dolorem maxime, facere rerum porro libero suscipit officia blanditiis, magni laboriosam quae vel sit commodi.</a>
            <div class="document-miniature__metadata">PDF - 1.4 MB</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="paragraph paragraph__logos">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h3">Een initiatief van</h2>
        </div>
        <div class="paragraph__content">
          <div class="grid">
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua-vert.jpg" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph">
{% include crosslink.html layout-class="wide" block-class=" shadow" url="/contact/" title="Wil je meer informatie krijgen rond de laatste ontwikkelingen op ons platform?" text="Neem contact met ons op." cta="Contacteer ons" icon="addressbook" %}
</div>

<div class="paragraph paragraph__logos">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h3">Een initiatief van</h2>
        </div>
        <div class="paragraph__content">
          <div class="grid">
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua-vert.jpg" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="paragraph paragraph__logos">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h3">Een initiatief van</h2>
        </div>
        <div class="paragraph__content">
          <div class="grid">
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua-vert.jpg" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include social-share.html %}

<section class="region related">
  <div class='layout layout--wide'>

    <hr class="wave hr pad--top pad--bottom" />

    <div class="grid">
      <div class="col--1-1">
        <h2 class="h2">Gerelateerde Kennishub pagina's</h2>
        <ul class="link-list">
          <li><a class="link--icon--external" href="#">Mattis Venenatis</a></li>
          <li><a class="link--icon--external" href="#">Mollis Tellus Nibh Malesuada</a></li>
          <li><a class="link--icon--external" href="#">Purus Nullam</a></li>
          <li><a class="link--icon--external" href="#">Magna Sollicitudin Inceptos</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
