<section class="region">

  <div class="layout layout--{{ include.layout-class }}">
    <div class="block crosslink {{ include.block-class }}">
      <div class="crosslink__icon">
        <div class="badge badge--accent badge--l badge--icon">
          <i class="badge__icon vi vi-{{ include.icon }}" aria-hidden="true"></i>
        </div>
      </div>
      <div class="crosslink__text">
        <h2 class="h4">{{include.title}}</h2>
        <p>{{include.text}}</p>
      </div>
      <div class="crosslink__cta">
        <a class="button button__primary" href="{{site.baseurl}}/{{ include.url }}">{{ include.cta }}</a>
      </div>
    </div>
  </div>

</section>
