<header class="content-header content-header--alt content-header--large content-header--has-context" role="banner">
	<div class="content-header__wrapper">
		<div class="content-header__bg hide-mobile">
			<picture>
				<source media="(min-width: 1024px)" srcset="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1x">
				<source media="(max-device-width: 767px)" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 1x">
				<source media="(max-width: 1023px)" srcset="{{ site.baseurl }}/assets/img/page_banner_narrow_alt/header.jpg 1x">
				<img alt="" src="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 320w, {{ site.baseurl }}/assets/img/page_banner_narrow/header.jpg 1024w, {{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1600w" title="">
			</picture>
		</div>

		<div class="layout layout--wide">
			<div class="content-header__content">

        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <div class="content-header__logo-wrapper">
          <a href="{{ site.baseurl }}/" class="site-logo hide-mobile">
						<img src="{{ site.baseurl }}/assets/img/logo-smart-flanders.svg"/>
					</a>

					<a href="{{ site.baseurl }}/" class="site-logo show-mobile">
						<img src="{{ site.baseurl }}/assets/img/logo-smart-flanders-mobile.svg" width="245" height="32"/>
					</a>
      	</div>

      </div>
		</div>
	</div>
</header>
