<div class="social">
  <div class='layout layout--normal'>
    <div class="share-buttons">
      Deel:
      <a class="share-button share-button--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}&t={{ page.title | escape }}" title="Deel op facebook">Deel op facebook</a>
      <a class="share-button share-button--twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | escape }}+{{ page.url | absolute_url | url_encode }}" title="Deel op twitter">Deel op twitter</a>
      <a class="share-button share-button--linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?url={{ page.url | absolute_url | url_encode }}" title="Deel op linkedin">Deel op linkedin</a>
      <a class="share-button share-button--mail" href="mailto:iemand@jouwsite.be?subject={{ page.title | escape }}&body={{ page.url | absolute_url | url_encode }}" title="Deel via mail">Deel via mail</a>
    </div>
  </div>
</div>
