

/**
 * Personalisation
 */

html {
    font-family: flanders-sans,sans-serif;
}

p {
    font-family: flanders-sans,sans-serif;
}
a.link-no-style, .link-no-style > a {
    color: #333;
    text-decoration: none;
}

#main p {
    padding-bottom: 1em;
}

p.center-p {
   text-align: center;
}

.footer-logos {
    padding-bottom: 10px;
}

.link-no-style > a:hover > span > svg > path{
    fill: #3184d6;
}

.tabs--alt:before {
    width: 100vw !important;
}

iframe {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.layout--wide {
    padding: 0 !important;
}

.agenda-item__date__month {
    text-transform: lowercase;
}

.excerpt {
    height: 10rem;
    
    & > p {
        text-overflow: ellipsis;
        height: 100%;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

.nobold {
    font-weight: 200 !important;
}

.person {
    padding-bottom: 2em;
}

.decilist {
    list-style-type: decimal;
}

.side-navigation {
    top: 15px;
    position: sticky;
}

.col-sticky {
    overflow: visible;
}

.teaser {
    font-weight: 800;
}

.context {

}
.ol, .ul {
    list-style: none ;
}

.dl dt {
    font-weight: 800;
}

.dl dd {
    margin-left: 2em;
}

figure figcaption::before{
    content: "  Fig.: ";
}

.smaller-image {
    max-width: 40%;
    min-width: 100px;
}
h2, h3, h4, h5 {
    margin-bottom: 1em !important;
    margin-top: 1.5em !important;
}

.page-content {
    padding-top: 0px !important;
}

.region:first-child {
    padding-top: 1em !important;
}

.post-list h2{
    margin-top: 0em !important;
    margin-bottom: 0.5em !important;
}

em {
    font-weight: 800 !important;
}

#principles li{
    margin-bottom: 2em ;
}
