

/**
 * Personalisation
 */
a.link-no-style, .link-no-style > a {
    color: #333;
    text-decoration: none;
}

p.center-p {
   text-align: center;
}

.footer-logos {
    padding-bottom: 10px;
}

.link-no-style > a:hover > span > svg > path{
    fill: #3184d6;
}

.tabs--alt:before {
    width: 100vw !important;
}

iframe {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.layout--wide {
    padding: 0 !important;
}

.agenda-item__date__month {
    text-transform: lowercase;
}

.excerpt {
    height: 10rem;
    
    & > p {
        text-overflow: ellipsis;
        height: 100%;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

.nobold {
    font-weight: 200 !important;
}

.person {
    padding-bottom: 2em;
}

.decilist {
    list-style-type: decimal;
}