.block-webuniversum-fullbreadcrumb {
  padding: .3rem 0;
  border-bottom: 1px solid #cbd2da;
  margin-bottom: 48px;
  margin-bottom: 0rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  background: $white;
  z-index: 20;
  @media only screen and (min-width: 767px) {
    top: 50px;
  }
}



.breadcrumb{
  margin: 5px 0;

	.ui.dropdown{
		.menu{
			border-radius:0;
			padding: 1rem;
			.item{
				font-size: 1.4rem;
				&:hover{
					background:#fff;
				}
				padding:.9rem !important;
				a{
					display:block;
				}
			}
		}
	}

	a.trigger_dropdown{
		text-decoration:none;
		display:none;
	}
	a{
		color: $text-color;
		opacity:0.80;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	span{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
	}
	em{
		font-style:normal;
		display:inline-block;
		padding: 0 .7rem 0 .4rem;
    color: #b2b2b2;
	}

}
