.block-webuniversum-fullbreadcrumb {
  padding: .3rem 0;
  border-bottom: 1px solid #cbd2da;
  margin-bottom: 48px;
  margin-bottom: 0rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: $white;
}


.breadcrumb{
  margin: 5px 0;

	.ui.dropdown{
		.menu{
			border-radius:0;
			padding: 1rem;
			.item{
				font-size: 1.4rem;
				&:hover{
					background:#fff;
				}
				padding:.9rem !important;
				a{
					display:block;
				}
			}
		}
	}

	a.trigger_dropdown{
		text-decoration:none;
		display:none;
	}
	a{
		color: $text-color;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	span{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    overflow:hidden;
    vertical-align: middle;

    &:last-child{
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 3rem);
    }
	}
	em{
		font-style:normal;
		display:inline-block;
		padding: 0 .7rem 0 .4rem;
    color: #b2b2b2;
	}

}
