.contact-block {
  border: 1px solid $border-color;
  padding: 4rem;
  background: $white;

  .info-block {
    margin: 0;

    .info-block__header{
      display: flex;
      align-items: center;
      padding: 0;

      &:before,
      &:after {
        content: none;
      }
    }
  }

  .badge {
    margin-right: 2rem;
  }

  // Badge
  .badge--accent {
    background: $green;
    color: $white;

    .badge__icon {
      color: $white;
      fill: $white;
    }
  }

  .properties {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1.8rem;
  }

  .properties__label,
  .properties__data {
    font-weight: 400;

    @media only screen and (max-width: 499px) {
      float: none;
    }

    @media only screen and (min-width: 500px) {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }

    &:last-of-type{
      padding-bottom: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
  @media only screen and (max-width: 499px) {
    .properties__label {
      margin-top: 3rem;
    }
    .properties__data {
      width: 100%;
    }
  }

}
