.crosslink {
  $v: &;
  padding: 6rem 4rem;
  background: $background-light;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 4rem;
  align-items: center;

  &.alt {
    background: $green;

    .badge {
      background: $white;
      border: 2px solid $dark-green;
    }

    #{$v}__text {
      color: $white;
      text-shadow: 0 0 6px rgba($black, .25);
    }

    #{$v}__cta a{
      background: $dark-green;
      border-top-color: $dark-green;
      &:hover, &:focus {
        background: $primary;
        border-top-color: $primary;
      }
    }

  }

  &__icon {
    margin-bottom: 2rem;
  }

  &__text {
    margin: 0 0 2rem 0;

    .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 0;
    }
  }

  &__cta {
    width: 100%;
    a {
      display: block;
    }
  }

  .badge__icon.vi-better-air:before,
  .badge__icon.vi-cleverness:before,
  .badge__icon.vi-disadvantaged-groups:before,
  .badge__icon.vi-urban-distribution:before,
  .badge__icon.vi-netwerk:before,
  .badge__icon.vi-open-data:before,
  .badge__icon.vi-renewable-energy:before,
  .badge__icon.vi-smart-governance:before,
  .badge__icon.vi-smart-metering:before,
  .badge__icon.vi-smart-park:before {
    content: "";
    background: url( $baseurl + "/assets/img/icons/icon_kennishub.svg") no-repeat center center;
    display: block;
    width: 32px;
    height: 33px;
  }

  .badge__icon.vi-better-air:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_better-air--green.svg");
  }
  .badge__icon.vi-cleverness:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_cleverness--green.svg");
  }
  .badge__icon.vi-disadvantaged-groups:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_disadvantaged-groups--green.svg");
  }
  .badge__icon.vi-distribution:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_urban-distribution--green.svg");
  }
  .badge__icon.vi-open-data:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_open-data--green.svg");
  }
  .badge__icon.vi-renewable-energy:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_renewable-enegery--green.svg");
  }
  .badge__icon.vi-smart-governance:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_smart-governance--green.svg");
  }
  .badge__icon.vi-smart-metering:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_smart-metering--green.svg");
  }
  .badge__icon.vi-smart-park:before{
    background-image: url( $baseurl + "/assets/img/icons/icon_smart-park--green.svg");
  }

  @media only screen and (min-width: 440px) {
    flex-flow: row wrap;
    align-items: flex-start;

    &__icon {
      width: 10rem;
      margin-bottom: 0;
    }
    &__text {
      width: calc( 100% - 10rem);
    }
    &__cta {
      width: auto;
      margin-left: 10rem;
    }
  }

  @media only screen and (min-width: 767px) {
    padding: 4rem;
    align-items: center;

    &__text {
      margin-top: 2rem;
      width: calc( 100% - 32rem);
    }
    &__cta {
      margin-left: auto;
    }
  }

}
