.direct-to {
  border: 1px solid $border-color;
  background: $white;
  padding: 4rem;

  label {
    font-weight: 500;
    font-size: 2rem;
    display: block;
  }

  .grid > div {
    margin-top: 1.6rem;
  }

  a {
    color: #2A8AB3;
  }

}
