.pill {
  font-weight: 400;
  margin-top: 0;
  margin-right: .5rem;
  margin-bottom: .5rem;
  color: $color-label;
  text-decoration: none;
  background: $white;

  &:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.16);
    color: inherit;
    text-decoration: none;
    background: $white;
  }

  &.active {
    background: $highlight;
    color: $white;
  }

  .pill__close{
    border-left: 0 !important;
    color: $white;
    margin-left: 0;
    line-height: 2.1rem;
  }

}
