.news {
  .spotlight.spotlight--link:before,
  a.spotlight:before {
    background-color: $green;
  }

  &.page {
    .region.intro {
      padding-bottom: 0;
    }

    .post-meta {
      font-size: 1.8rem;
      font-weight: 500;
      color: $text-color;
      line-height: 6rem;

      @media only screen and (min-width: 767px) {
        font-size: 2.4rem;
      }

      @media only screen and (min-width: 1140px) {
        position: absolute;
        left: -210px;
      }
    }

    h1{
      margin-bottom: 1rem;
    }

    .introduction {
      margin-top: 2rem;

      @media only screen and (min-width: 767px) {
        margin-top: 5rem;
      }
    }
  }

}
