.page.initiative .region.paragraphs {
    position: relative;
    &:before {
    @media only screen and (min-width: 1024px){
      content: "";
      width: 170px;
      height: 5px;
      display: block;
      z-index: 200;
      position: absolute;
      top: 7rem;
      left: calc((100% - 1280px) / 2);
    }
    @extend .wave;
  }
}

.paragraph {
  padding: 2rem 0;

  &.paragraph__full-image img{
    object-fit: cover;
  }

  @media only screen and (min-width: 767px) {
    padding: 5rem 0;
  }

  .paragraph__title{
    padding-bottom: 2.4rem;

    h2 {
      margin-bottom: 0;
    }
  }

  .paragraph__content p {
    padding-bottom: 3.2rem;
  }

  &.paragraph__video {
    text-align: center;

    video {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }

  &.paragraph__two-column .columns{
    @media only screen and (min-width: 767px){
      columns: auto 2;
      column-gap: 4rem;
    }
  }

  &.paragraph__quote {
    margin: 2rem 0;
    @media only screen and (min-width: 767px){
      margin: 5rem 0;
    }
    padding: 0;
    background-color: $background-light;

    .quote {
      padding: 2rem 0;
      margin-top: 0;
    }

    .quote:before{
      top: 0;
      bottom: 0;
    }

    .quote:after {
      background: $background-light;
    }

  }

  &.paragraph__logos {
    text-align: center;
    .paragraph__content {
      .grid {
        margin-left: 0;
        border-top: 1px solid $background-normal;
        border-left: 1px solid $background-normal;
        align-items: stretch;
      }
      .grid > * {
        padding: 4rem;
        border-right: 1px solid $background-normal;
        border-bottom: 1px solid $background-normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

}
