---
title: Hoe moet ik mijn data op de juiste manier definiëren
category: sport
teaser: Dit is een teaser text voor mijn post
thumb: "assets/img/nieuws-en-opinies/thumbs/oldy.jpg"
intro: 'Dit is de intro voor dit nieuws-en-opiniesbericht'
og-image: "assets/img/nieuws-en-opinies/large/og-image.jpg"
og-description: "Bekijk hoe jij jouw data moet definiëren"
highlight: 1
---
<div class="paragraph paragraph__full-image">
  <div class='layout layout--wide'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <img src="{{site.baseurl}}/assets/img/nieuws-en-opinies/large/wires.png" />
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__text">
  <div class='layout layout--condensed'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__text-with-image left">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked row-reverse">
      <div class="col--6-12 col--1-1--s img">
        <img src="{{site.baseurl}}/assets/img/homepage/hand.png" />
      </div>
      <div class="col--6-12 col--1-1--s">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
          <ul class="link-list">
            <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
            <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
            <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
            <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          </ul>
          <a class="button button--secondary" href="#">Secundaire knop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__video">
  <div class='layout layout--condensed'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="col--1-1 video-player">
        <video class="js-video-player" poster="{{site.baseurl}}/assets/img/nieuws-en-opinies/large/video.png" controls crossorigin>
          <!-- Video files -->
          <source src="{{site.baseurl}}/assets/video/example.mp4" type="video/mp4">

        </video>
      </div>
    </div>
  </div>
</div>

<div class="paragraph paragraph__two-column">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content columns">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
        <ul class="link-list">
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="paragraph paragraph__documents">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">

        <div class="paragraph__title">
          <h2 class="h2">Ligula Parturient Cras</h2>
          <h3 class="h4">Aenean lacinia bibendum</h3>
        </div>
        <div class="paragraph__content">
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi <strong>porta gravida</strong> at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">PDF</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus!</a>
            <div class="document-miniature__metadata">PDF - 580 kB</div>
          </div>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">JPEG</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt, voluptatum praesentium quis ratione pariatur dolorem maxime, facere rerum porro libero suscipit officia blanditiis, magni laboriosam quae vel sit commodi.</a>
            <div class="document-miniature__metadata">JPEG - 1.4 MB</div>
          </div>
        </div>
      </div>


      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="better-air"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="cleverness"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="disadvantaged-groups"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="network"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="open-data"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="renewable-energy"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="smart-governance"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="smart-metering"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="smart-park"
      %}

      {% include crosslink.html
        layout-class='normal'
        block-class='alt shadow'
        url="/open-data-charter"
        title="Wil je weten wat het Open Data Charter is?"
        text="Lees hier alles over de 20 principes die wij hanteren"
        cta="Open Data Charter"
        icon="urban-distribution"
      %}

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">DOCX</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus!</a>
            <div class="document-miniature__metadata">DOCX - 580 kB</div>
          </div>
        </div>
      </div>

      <div class="col--6-12 col--12-12--s">
        <div class="document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">PDF</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title" href="#" data-clamp="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt, voluptatum praesentium quis ratione pariatur dolorem maxime, facere rerum porro libero suscipit officia blanditiis, magni laboriosam quae vel sit commodi.</a>
            <div class="document-miniature__metadata">PDF - 1.4 MB</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="paragraph paragraph__logos">
  <div class='layout layout--normal'>
    <div class="grid grid--is-stacked">
      <div class="col--1-1">
        <div class="paragraph__title">
          <h2 class="h3">Een initiatief van</h2>
        </div>
        <div class="paragraph__content">
          <div class="grid">
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua-vert.jpg" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ds.png" >
              </div>
            </div>
            <div class="col--4-12 col--6-12--s col--1-1--xs">
              <div class="logo">
                <img src="{{site.baseurl}}/assets/img/practices/logo_ua.png" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include social-share.html %}

<section class="region related">
  <div class='layout layout--wide'>

    <hr class="wave hr pad--top pad--bottom" />

    <div class="grid">
      <div class="col--6-12 col--1-1--s">
        <h2 class="h2">Gerelateerde Kennishub pagina's</h2>
        <ul class="link-list">
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--caret" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
        </ul>
      </div>
      <div class="col--6-12 col--1-1--s">
        <h2 class="h2">Gerelateerde Kennishub pagina's</h2>
        <ul class="link-list">
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
          <li><a class="link--icon--external" href="#">This is a link in a list</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
