---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Georgia,Times,Times New Roman,serif; 
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.team {

}

.tote {
      text-align: center;
}

.tote img {
      text-align: center;
      border-radius: 50%;
      height: auto;
      margin: 0 4em 1em -0%;
      width: 20%;
}

.logo {
      height: 50px;
}

.hero {
      width: 100%;
      font-size: 110%;
      /*      background-color: #EEE;*/
}

.hero .title {
      width: 100%;
      text-align: center;
}

nav {
}

nav ul {
    margin-left: 0px;
}

nav ul li {
    display: block;
    padding: 5px 5px;
    list-decoration: none;
}

