<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="schema: http://schema.org/ 
                        dct: http://purl.org/dc/terms/
                        cito: http://purl.org/spar/cito/
                        og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
